 h1 {
     color: #00274D;
     font-size: 32px;
     text-align: center;
 }

 p {
     border: solid #000 1px;
     padding: 25px;
 }

 #paragrafo {
     margin: 10px 12px 10px 25px;
 }

 .destaque {
     border-left: solid red 3px;
 }